html {
	height: 100%;
}

body {
	font-family: 'Varela', sans-serif;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

div#header {
    clear: both;
    padding: 1px;
}
div#left {
    float: left;
    width: 160px;
	height: 80%;
    border-right: 1px solid #E0DEDF;
}

div#right {
    float: right;
    width: 160px;
	height: 80%;
	border-left: 1px solid #E0DEDF;
	
	padding-left: 10px;
}

div#middle {
	height: 80%;
	
}

#chi-table {
	margin-left: auto;
	margin-right: auto;
}

#chi-table th, td{
	width: 30px;
	height: 20px;
	padding: 5px;
}

#chi-table td {
	border: 1px solid black;
}

td.rowtitle {
	border: 1px solid white;
	color: green;
}